{% extends 'base/base.html' %}
{% load widget_tweaks %}

{% block content %}
<div class="container mx-auto px-4 py-8">
    <h1 class="text-4xl font-bold mb-8">{% if form.instance.pk %}Update{% else %}New{% endif %} Monitoring Entry</h1>

    <form method="post" class="max-w-lg">
        {% csrf_token %}
        {% for field in form %}
        <div class="form-control mb-4">
            <label class="label">
                <span class="label-text">{{ field.label }}</span>
            </label>
            {% if field.name == 'key_indicators' %}
                {% render_field field class="textarea textarea-bordered h-24" %}
                <label class="label">
                    <span class="label-text-alt">Enter key indicators as JSON. For example: {"indicator1": "value1", "indicator2": "value2"}</span>
                </label>
            {% elif field.field.widget.input_type == 'select' %}
                {% render_field field class="select select-bordered w-full" %}
            {% else %}
                {% render_field field class="input input-bordered w-full" %}
            {% endif %}
            {% if field.help_text %}
                <label class="label">
                    <span class="label-text-alt">{{ field.help_text }}</span>
                </label>
            {% endif %}
            {% for error in field.errors %}
                <label class="label">
                    <span class="label-text-alt text-error">{{ error }}</span>
                </label>
            {% endfor %}
        </div>
        {% endfor %}
        <div class="form-control mt-6">
            <button type="submit" class="btn btn-neutral">Submit Monitoring Entry</button>
        </div>
    </form>
</div>
{% endblock %}